<?xml version="1.0"?>
<model>
  <name>tennis_ball</name>
  <version>0.1.0</version>
  <sdf version="1.10">tennis_ball.sdf</sdf>
  <author>
    <name>lxl</name>
    <email>498900619@qq.com</email>
  </author>
  <description>Physics-enabled tennis ball model using approximate ITF tennis ball size and mass.</description>
</model>
